<router-outlet></router-outlet>
<!-- <mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Foot Tab</span>
  </mat-toolbar-row>
</mat-toolbar>
<main>
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile style="background: green;">ENTRAINEUR</mat-grid-tile>
    <mat-grid-tile style="background: yellow;"> JOUEUR</mat-grid-tile>
    <mat-grid-tile style="background: red;">PRESIDENT</mat-grid-tile>
    <mat-grid-tile style="background: blue;">COMPTE</mat-grid-tile>
  </mat-grid-list>
</main> -->